// ****************************************************************************
// MUELLER MAP
//
// The mueller grid system map
// Defining universal options and options per breakpoint
// ****************************************************************************



// Mueller map
// ----------------------------------------------------------------------------

$mgs: (
    breakpoints: (
        d: (
            "container-width": 100%,
            "columns": 12,
            "column-width": 6.5%,
            "gutter-width": 2%,
            "base-font-size": 16px,
            "base-line-height": 24px
        )
    )
);
