// bottombar
// ----------------------------------------------------------------------------

#bottombar {
    position: fixed;
    z-index: 890;
    bottom: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: transparentize($text-color, .6);
    transition: bottom 2*$transition-speed $transition-cubic-bezier;
}

#bottombar {
    #bottombar-container {
        background-color: $color-2-100;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60vh;
        padding: 20px;
        overflow: scroll;
    }
}

#bottombar {
    > header {
        position: absolute;
        padding: 12px 20px;
        width: 100%;
        bottom: 60vh;
        height: 48px;
        color: $text-color;
        @extend .font-family-medium;
        background: $color-2-400;
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            @include button-style($text-color, transparent, transparent);
            &:hover {
                @include button-style(#fff, transparent, transparent);
            }
        }
    }
}

// Sidebar open modifications
// ----------------------------------------------------------------------------

.app-bottombar-open {
    #bottombar {
        display: block;
        bottom: 0;
        transform: translate(0, 0);
    }
}
