// ****************************************************************************
// crudl.io
// MODAL
//
//
// ****************************************************************************



// Basics
// ----------------------------------------------------------------------------

.modal {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize($text-color, .6);
}

.modal-container {
    position: relative;
    margin: 92px auto 0;
    padding: 24px;
    max-width: 400px;
    @extend .font-family-mono;
    word-break: break-word;
    border-radius: $border-radius;
    border-bottom-right-radius: 2 * $border-radius;
    border-bottom-left-radius: 2 * $border-radius;
    background: #fff;
    .footer {
        margin: 24px 0 0;
    }
}



// Modal confirm button group & button basics
// ----------------------------------------------------------------------------

.modal-confirm {
    [role=group].buttons {
        margin: 0 -24px -24px;
        border-radius: $border-radius;
        background: $color-1-50;
        li {
            width: 50%;
            box-sizing: border-box;
            button {
                width: 100%;
            }
            & + li {
                margin-left: 0;
            }
        }
    }
    button {
        @extend %button-size-regular;
        border: 0;
        border-radius: 0;
    }
    button.action-cancel {
        padding-left: 24px;
        text-align: left;
        border-bottom-left-radius: $border-radius;
        @include button-style($color-1-300, transparent, transparent);
        &:hover,
        &:focus {
            @include button-style(#fff, $color-1-900, $color-1-900);
        }
    }
    button.action-confirm {
        padding-right: 24px;
        text-align: right;
        border-bottom-right-radius: $border-radius;
        @include button-style($color-2-400, transparent, transparent);
        &:hover,
        &:focus {
            @include button-style(#fff, $color-2-400, $color-2-400);
        }
    }
}



// Modal delete buttons
// ----------------------------------------------------------------------------

.modal-confirm.modal-delete {
    button.action-confirm {
        @include button-style($color-3-500, transparent, transparent);
        &:hover,
        &:focus {
            @include button-style(#fff, $color-3-500, $color-3-500);
        }
    }
}
