// ****************************************************************************
// crudl.io
// TOOLBAR
//
//
// ****************************************************************************



// Basic styles
// ----------------------------------------------------------------------------

.toolbar {
    left: 48px;
    height: 48px;
    color: #fff;
    background: $color-2-500;
    // .tools {
    //     display: flex;
    //     flex-direction: row;
    // }
    // .title {
    //     flex: 1;
    //     flex-basis: 0.000000001px;
    //     padding: 12px 0;
    //     font-size: 1.1rem;
    //     @extend .font-family-medium;
    // }
    .tools {
        position: relative;
        float: right;
        // position: absolute;
        // right: 0;
    }
    form,
    button {
        display: inline-block;
        position: relative;
    }
    button,
    [role=button] {
        min-width: 48px;
        height: 48px;
        border-radius: 0;
        @include button-style(#fff, transparent, transparent);
        &:hover {
            @include button-style(#fff, $color-2-600, $color-2-600);
        }
        & + button,
        & + [role=button] {
            margin-left: 0px;
        }
    }
    [role=group].buttons {
        li {
            & + li {
                margin-left: 2px;
            }
            &.filters {
                margin-left: 0;
            }
        }
    }
    .field-container {
        padding: 0;
    }
}



// Toolbar within #header
// ----------------------------------------------------------------------------

#viewport-header .toolbar {
    position: fixed;
    z-index: 880;
    width: 100%;
    transition: margin-left 2*$transition-speed $transition-cubic-bezier, padding 2*$transition-speed $transition-cubic-bezier, box-shadow 0ms ease-out, opacity 2*$transition-speed $transition-cubic-bezier;
    margin-left: -($viewport-padding-left) !important;
    padding-left: $viewport-padding-left + $viewport-inner-padding-left;
    .header-fixed & {
        transition: margin-left 2*$transition-speed $transition-cubic-bezier, padding 2*$transition-speed $transition-cubic-bezier, box-shadow 0.5*$transition-speed ease-in;
        box-shadow: 0 2px 4px -1px rgba($text-color, 0.06),0 4px 5px 0 rgba($text-color, 0.06),0 1px 10px 0 rgba($text-color, 0.08);
        background: transparentize(darken($color-2-500, 2), .1);
    }
}

// Fixed display
#viewport-header .toolbar {
    .display-when-fixed {
        transition: opacity 2*$transition-speed $transition-cubic-bezier;
        width: 0;
        min-width: 0;
        height: 0;
        opacity: 0;
        .header-prepare-fixed &,
        .header-fixed & {
            width: auto;
            min-width: 48px;
            height: 48px;
            opacity: 1;
        }
    }
}
