// ****************************************************************************
// crudl.io
// LOGIN
//
//
// ****************************************************************************



// Page specific styles
// ----------------------------------------------------------------------------

#app.login {
    #navigation {
        display: none;
    }
    form .wrapper,
    .form-error {
        max-width: 600px;
    }
    .footer {
        margin-top: 24px;
    }
}
